/* setelah menambahkan kode bootstrap pada template, 
kita membuat css untuk membuat tampilan web menjadi menarik, setelah ini kembali ke routes
untuk membuat routes create dan show.  */

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 70px;
}

h2 {
	border-bottom: 1px solid #000;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
	font-size: 0.9em;
	height: 50px;
	text-align: center;
	padding-top: 20px;
}

.box-button {
	display: inline-block;
}

.table-nav, .tombol-nav {
	display: block;
	clear: both;
	float: left;
	width: 100%;
}

.tombol-nav {
	margin-top: 20px;
}

.table-nav {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.jumlah-data, .paging {
	width: 50%;
	height: 50px;
	display: block;
}

.jumlah-data {
	float: left;
	padding-top: 15px;
}

.paging {
	float: right;
	text-align: right;
}

.paging ul.pager, .paging ul.pagination {
	text-align: right;
}

ul.pagination, ul.pager {
	margin-top: 8px;
}

#pencarian {
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
}



